python-dotenv
urllib3
pydantic
requests
lxml
python-dateutil
jinja2
fastapi[standard]
uvicorn
pydantic-ai
rapidfuzz
numpy

google-api-python-client~=2.161.0
google-auth-httplib2
google-auth-oauthlib
protobuf~=5.29.3

statsmodels
